.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .coin-row {
  flex-direction: row;
  display: flex;
  border: 1px solid black;
  padding: 2px;
  width: 500px;
  justify-content: space-between;
} */
table {
  border: none;
}
th {
  background-color: teal;
  color: white;
  padding: 5px 10px;
}

td{
  border: 1px solid #ddd;
  padding: 8px;
  width: 100px;
}


tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {
  background-color: rgb(170, 144, 170);
}

.volume-high {
  color: rgb(91, 192, 91);
}

.volume-low {
  color: rgb(212, 55, 55);
}

.coin-data-container {
  margin-top: 10px;
  margin-left: 25px;
  
}